.main-content, form {
    border: 1px solid black;
}
#view, #details, #company-form, #contact-form {
    display: none;
}
.form-group {
    background-color: papayawhip;
}

h4:hover {
    cursor: pointer;
}
